.wrapper
    display: flex
    justify-content: space-between
    color: $text-color

.hero
    background-color: $bg-color
    &-box_info
        max-width: 470px
    &-box_title
        margin-top: 29px
        margin-left: -1px
        margin-bottom: 19px
    &-box_subtitle 
        font-size: 20px
        line-height: 65px
    &-list
        padding-left: 0
        margin-top: 44px
    &-list_info
        display: flex
        align-items: center
        min-height: 48px
        list-style: none
        margin-bottom: 22px
        &:last-child
            margin-bottom: 0
    &-list_text
        display: inline-block
        margin-left: 30px
        max-width: 240px
        font-size: 14px
        font-weight: 500
        line-height: 24px

.box
    &-img_wrapper
        width: 606px
        // height: 488px
    &-img
        width: 100%
        height: 100%
        margin-left: 31px
        margin-top: 2px

// --------------### MEDIA max-width: 1199px ###-------------------//

@media (max-width: 1199px)
    .box
        &-img_wrapper
            width: 50%

// --------------### MEDIA max-width: 992px ###-------------------//

@media (max-width: 992px)
    .box
        &-img_wrapper
            height: 60%

// --------------### MEDIA max-width: 791px ###-------------------//

@media (max-width: 791px)
    .wrapper
        flex-wrap: wrap
        justify-content: center
    .hero-list
        margin-left: 17%

// --------------### MEDIA max-width: 321px ###-------------------//

@media (max-width: 321px)
    .hero
        padding-bottom: 26px
        &-box_title
            margin-top: -6px
            margin-left: 14px
            margin-bottom: 19px
            @include bold
            font-size: 24px
            line-height: 26px
        &-box_subtitle 
            display: inline-block
            margin: -6px 0 0 19px
            font-size: 16px
            line-height: 18px
            max-width: 205px
        &-list
            margin-left: 6%
            margin-top: 25px
        &-list_info
            margin-bottom: 12px
            &:last-child
                margin-bottom: 0
        &-list_text
            font-size: 12px
            margin-left: 12px
            line-height: 16px
    .box
        &-img_wrapper
            height: 100%
            width: 100%
        &-img
            margin-left: 13px
            margin-top: 17px