body
    color: $text-color
    @include thin
    
a
    outline: none

.container
    margin: 0 auto
    max-width: 1169px

.section
    padding-top: 50px
    padding-bottom: 9px

.wrapper
    display: flex
    justify-content: space-between
    color: $text-color

.title
    font-size: 42px
    line-height: 55px

.subtitle
    @include bold

.input
    position: relative
    border-radius: 10px
    border: 1px solid $input-color
    padding: 0 22px
    @include thin
    color: $font-input-clr
    &:focus
        border: 2px solid $main-color
        border-radius: 10px
        outline: none

button
    outline: none

.btn
    border: none
    // border-radius: 10px
    @include bold
    background-color: $main-color
    outline: none
    &:hover
        background-color: lighten($main-color, 7%)
        color: orange

.up
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px
    padding: 1px
    bottom: 10px
    right: 10px
    background-color: grey
    &-btn
        width: 22px
        height: 22px

// --------------### MEDIA max-width: 1199px ###-------------------//

@media (max-width: 1199px)
    .container
        max-width: 960px

// --------------### MEDIA max-width: 992px ###-------------------//

@media (max-width: 992px)
    .container
        max-width: 760px
    .btn
        &:hover
            cursor: pointer
            background-color: $main-color
            color: black

// --------------### MEDIA max-width: 791px ###-------------------//

@media (max-width: 791px)
    .container
        max-width: 700px

// --------------### MEDIA max-width: 768px ###-------------------//

@media (max-width: 768px)
    .container 
        max-width: 690px

// --------------### MEDIA max-width: 717px ###-------------------//

@media (max-width: 717px)
    .container 
       max-width: 580px

// --------------### MEDIA max-width: 596px ###-------------------//

@media (max-width: 596px)
    .container
        max-width: 520px

// --------------### MEDIA max-width: 531px ###-------------------//

@media (max-width: 531px)
    .container
        max-width: 460px

// --------------### MEDIA max-width: 481px ###-------------------//

@media (max-width: 481px)
    .container
        max-width: 400px

// --------------### MEDIA max-width: 420px ###-------------------//

@media (max-width: 420px)
    .container
        max-width: 340px

// --------------### MEDIA max-width: 350px ###-------------------//

@media (max-width: 350px)
    .container
        max-width: 288px

// --------------### MEDIA max-width: 321px ###-------------------//

@media (max-width: 321px)

    .container
        max-width: 288px

