body
    color: $text-color
    @include thin

.container
    margin: 0 auto
    max-width: 1169px

.section
    padding-top: 50px
    padding-bottom: 9px

.title
    font-size: 42px
    line-height: 55px

.subtitle
    @include bold

.input
    border-radius: 10px
    border: 1px solid $input-color
    padding: 0 22px
    @include thin
    color: $font-input-clr
    &:focus
        border: 2px solid $main-color
        border-radius: 10px
        outline: none

.btn
    border: none
    border-radius: 10px
    @include bold
    background-color: $main-color
    &:hover
        background-color: lighten($main-color, 7%)
        color: orange

// --------------### MEDIA max-width: 1199px ###-------------------//

@media (max-width: 1199px)
    .container
        max-width: 960px

// --------------### MEDIA max-width: 992px ###-------------------//

@media (max-width: 992px)
    .container
        max-width: 760px

// --------------### MEDIA max-width: 791px ###-------------------//

@media (max-width: 791px)
    .container
        max-width: 700px

// --------------### MEDIA max-width: 768px ###-------------------//

@media (max-width: 768px)
    .container 
        max-width: 690px

    .navbar
        &-block
            padding: 17px 0

// --------------### MEDIA max-width: 717px ###-------------------//

@media (max-width: 717px)
    .container 
       max-width: 580px

    .navbar
        &__logo
            width: 91px
            height: 44px
        &__text
            span
                font-size: 10px
            a
                font-size: 16px
        &__btn
            width: 137px
            height: 39px
            margin-right: 2px
            padding: 15px 26px 14px 26px
            border-radius: 5px
            font-size: 10px

// --------------### MEDIA max-width: 596px ###-------------------//

@media (max-width: 596px)
    .container
        max-width: 520px

// --------------### MEDIA max-width: 531px ###-------------------//

@media (max-width: 531px)
    .container
        max-width: 460px

    .navbar
        &__text
            display: none

// --------------### MEDIA max-width: 481px ###-------------------//

@media (max-width: 481px)
    .container
        max-width: 400px

// --------------### MEDIA max-width: 420px ###-------------------//

@media (max-width: 420px)
    .container
        max-width: 340px

// --------------### MEDIA max-width: 350px ###-------------------//

@media (max-width: 350px)
    .container
        max-width: 288px

// --------------### MEDIA max-width: 321px ###-------------------//

@media (max-width: 321px)

    .navbar
        &-block
            width: 286px
        &__btn
            padding: 14px 24px 14px 26px
            font-size: 10px
            margin-right: -3px
        &__logo
            margin-left: 13px
