.navbar
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        padding: 8px 0
    &__info
        display: flex
        align-items: center
        text-align: right
    &__logo
        width: 155px
        height: 75px
        img
            max-width: 100%
            max-height: 100%
    &__text
        display: flex
        flex-direction: column
        span
            margin-bottom: 9px
            font-size: 13px
            font-weight: 400
        a
            color: $text-color
            text-decoration: none
            font-size: 20px
            font-weight: 700
    &__btn
        margin-left: 30px
        width: 170px
        height: 49px
        padding: 19px 30px 17px 30px
        font-size: 13px
        font-weight: 700

        

    
