.price
    padding-bottom: 40px
    &-wrapper
        flex-direction: column
        align-items: center
        &__title
            margin-top: 40px
            margin-bottom: 38px
            width: 515px
            @include bold
            text-align: center
            font-size: 30px
            line-height: 45px
        &__subtitle
            margin-bottom: 18px
            display: inline-block
            @include thin
            font-size: 20px
            line-height: 45px
    &__know
        position: relative
        display: block
        @include bold
        font-size: 16px
        line-height: 18px
        z-index: 1
        &:before
            content: ""
            position: absolute
            bottom: -4px
            left: 50%
            transform: translate(-50%)
            width: 96px
            height: 3px
            background-color: #ffd200
    &__cards
        width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &_info
            margin-bottom: 16px
            @include thin
            font-size: 18px
            line-height: 45px
        &_item
            position: relative
            margin-top: 30px
            width: 370px
            height: 410px
            text-align: center
            border: 1px solid $border-color
            &:hover
                box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1) 
                &:before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 260px
                    background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
                    opacity: 0.8
            &:hover .price__know:before
                content: ""
                position: absolute
                bottom: -2px
                left: 50%
                transform: translate(-50%)
                width: 96px
                height: 6px
                background-color: #ffd200
                z-index: -1


// --------------### MEDIA max-width: 998px ###-------------------//

@media (max-width: 998px)
    .price
        &__cards
            justify-content: center
            &_item
                margin-left: 2px
                margin-right: 2px
                width: 271px
                height: 300px
                &:hover 
                    box-shadow: none
                    &:before
                        content: ""
                        background: none
                &:hover .price__know:before
                    content: ""
                    position: absolute
                    bottom: -4px
                    left: 50%
                    transform: translate(-50%)
                    width: 96px
                    height: 3px
                    background-color: #ffd200
            &_info
                margin-bottom: 2px
    .img
        width: 271px

// --------------### MEDIA max-width: 800px ###-------------------//

@media (max-width: 800px)
    .price
        &__cards
            justify-content: center
            // &_item
            //     margin-left: 2px
            //     margin-right: 2px
            

// --------------### MEDIA max-width: 700px ###-------------------//

@media (max-width: 700px)
    .price
        &-wrapper
            &__title
                width: 450px
                font-size: 22px
                line-height: 38px

// --------------### MEDIA max-width: 500px ###-------------------//

@media (max-width: 500px)
    .price
        &-wrapper
            &__title
                max-width: 300px
                font-size: 22px
                line-height: 38px

// --------------### MEDIA max-width: 392px ###-------------------//

@media (max-width: 392px)
    .price
        padding-top: 0
        &-wrapper
            &__title
                margin-top: 51px
                margin-bottom: 12px
                max-width: 242px
                font-size: 18px
                line-height: 22px
            &__subtitle
                margin-left: -14px
                font-size: 14px
                line-height: 45px
        &__cards
            &_item
                width: 271px
                height: 300px
            &_info
                margin-left: 0
                margin-right: 0
                margin-top: 10px
                margin-bottom: -1px
                @include bold
                font-size: 14px
                line-height: 45px
        &__know
            @include bold
            font-size: 16px
            line-height: 18px
